* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right bottom, #e1dfa7, #c6e2b0, #ace2bf, #99e0d0, #90dce0);
  background-attachment: fixed;
  overflow: hidden;
}

img {
  max-width: 100%;
}

.normal {
  background-color: #999999;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  font-size: 0.5em;
  font-weight: bold;
}

.fighting {
  background-color: #fea403;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  font-size: 0.5em;
  font-weight: bold;
}

.flying {
  background-color: #95cbfb;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  font-size: 0.5em;
  font-weight: bold;
}

.poison {
  background-color: #9951cd;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.4);
  font-size: 0.5em;
  font-weight: bold;
}

.ground {
  background-color: #aa783e;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  font-size: 0.5em;
  font-weight: bold;
}

.rock {
  background-color: #bbba88;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  font-size: 0.5em;
  font-weight: bold;
}

.bug {
  background-color: #a2a41d;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  font-size: 0.5em;
  font-weight: bold;
}

.ghost {
  background-color: #6c4270;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  font-size: 0.5em;
  font-weight: bold;
}

.steel {
  background-color: #6bb0d4;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  font-size: 0.5em;
  font-weight: bold;
}

.fire {
  background-color: #fd6233;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  font-size: 0.5em;
  font-weight: bold;
}

.water {
  background-color: #2d92fd;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  font-size: 0.5em;
  font-weight: bold;
}

.grass {
  background-color: #40c027;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  font-size: 0.5em;
  font-weight: bold;
}

.electric {
  background-color: #fcdb00;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  font-size: 0.5em;
  font-weight: bold;
}

.psychic {
  background-color: #ff607d;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  font-size: 0.5em;
  font-weight: bold;
}

.ice {
  background-color: #43d8fc;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  font-size: 0.5em;
  font-weight: bold;
}

.dragon {
  background-color: #5363d6;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  font-size: 0.5em;
  font-weight: bold;
}

.dark {
  background-color: #484848;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  font-size: 0.5em;
  font-weight: bold;
}

.fairy {
  background-color: #fdb3fe;
  display: inline-block;
  padding: 1em;
  margin-top: 0.4em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  font-size: 0.5em;
  font-weight: bold;
}

.normal-gradient {
  background-image: linear-gradient(to bottom, #999999, #a2a2a2, #aaaaaa, #b3b3b3, #bcbcbc);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.fighting-gradient {
  background-image: linear-gradient(to bottom, #fea403, #f6ac36, #eeb354, #e6b96f, #debf89);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.flying-gradient {
  background-image: linear-gradient(to bottom, #95cbfb, #94d4f9, #98dcf6, #a1e3f2, #aee9ee);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.poison-gradient {
  background-image: linear-gradient(to bottom, #9951cd, #9c69d5, #a17fdc, #a893e0, #b1a6e3);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.ground-gradient {
  background-image: linear-gradient(to bottom, #aa783e, #af8443, #b49049, #b89c4f, #bba957);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.rock-gradient {
  background-image: linear-gradient(to bottom, #bbba88, #c9c994, #d8d8a1, #e7e7ae, #f6f6bb);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.bug-gradient {
  background-image: linear-gradient(to bottom, #a2a41d, #a5af3d, #aaba58, #afc570, #b6cf88);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.ghost-gradient {
  background-image: linear-gradient(to bottom, #6c4270, #7a4884, #884f9a, #9457b1, #9f5fc9);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.steel-gradient {
  background-image: linear-gradient(to bottom, #6bb0d4, #6fb6d6, #73bcd8, #79c2da, #7fc8dc);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.fire-gradient {
  background-image: linear-gradient(to bottom, #fd6233, #f8693e, #f27049, #ec7753, #e57d5d);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.water-gradient {
  background-image: linear-gradient(to bottom, #2d92fd, #449cfd, #58a6fc, #6bb0fa, #7db9f9);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.grass-gradient {
  background-image: linear-gradient(to bottom, #40c027, #5aca44, #70d45c, #84dd73, #98e789);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.electric-gradient {
  background-image: linear-gradient(to bottom, #fcdb00, #f9df4c, #f6e273, #f3e596, #f0e8b7);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.psychic-gradient {
  background-image: linear-gradient(to bottom, #ff607d, #fe788f, #fb8da0, #f7a2b0, #f2b5c0);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.ice-gradient {
  background-image: linear-gradient(to bottom, #43d8fc, #64dbfa, #7ddef8, #91e1f6, #a4e4f4);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.dragon-gradient {
  background-image: linear-gradient(to bottom, #5363d6, #6573db, #7682e0, #8792e5, #98a2e9);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.dark-gradient {
  background-image: linear-gradient(to bottom, #484848, #555555, #626263, #6f6f71, #7d7d7f);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.fairy-gradient {
  background-image: linear-gradient(to bottom, #fdb3fe, #f8bcf8, #f2c5f3, #edceed, #e7d6e7);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.pokemon-header {
  padding: 1em;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.pokemon-header img {
  width: 600px;
  height: 220px;
}

@media (max-width: 420px) {
  .pokemon-header {
    padding: 0em 1em;
    margin-top: 1em;
  }
  .pokemon-header img {
    width: 300px;
    height: 120px;
  }
}
.pokemon-container {
  width: 100svw;
  height: 100svh;
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.pokemon-box {
  width: 55%;
  height: 55%;
  background-color: #fff;
  border-radius: 1em;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  display: none;
}

.show {
  display: grid;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.pokemon-left-detail {
  padding: 0em 2em;
  align-self: center;
  justify-self: center;
}

.pokemon-right-detail {
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
}

.pokemon-number {
  display: flex;
  align-items: center;
}
.pokemon-number img {
  width: 80px;
  height: 40px;
  margin-left: -1.5em;
}
.pokemon-number span {
  color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.pokemon-name {
  margin-top: 0.3em;
  font-size: 2.2em;
  font-family: monospace;
  text-transform: capitalize;
}

.pokemon-info {
  background-color: rgba(180, 175, 175, 0.1725490196);
  display: flex;
  justify-content: space-around;
  padding: 1em 0em;
}
.pokemon-info .pokemon-height {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.pokemon-info .pokemon-height p {
  font-family: monospace;
  font-size: 1.5em;
}
.pokemon-info .pokemon-height span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
}
.pokemon-info .pokemon-weight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.pokemon-info .pokemon-weight p {
  font-family: monospace;
  font-size: 1.5em;
}
.pokemon-info .pokemon-weight span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
}

.division {
  background-color: rgba(199, 197, 197, 0.662745098);
  width: 1px;
  height: 70px;
  display: block;
}

.pokemon-abilities {
  padding: 1em 2em;
}
.pokemon-abilities h1 {
  font-weight: 300;
  font-family: monospace;
}
.pokemon-abilities .ability-paragraph {
  margin-left: 1em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  background-color: rgba(126, 126, 126, 0.1294117647);
}
.pokemon-abilities .second-ability-paragraph {
  margin-left: 1em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  background-color: rgba(126, 126, 126, 0.1294117647);
}

.pokemon-pic {
  width: 400px;
  height: 400px;
}

.slide-in-top {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.remove {
  display: none;
}

@media (max-width: 420px) {
  body {
    overflow-y: auto;
  }
  .pokemon-container {
    margin-top: -2em;
    margin-bottom: 1em;
  }
  .pokemon-box {
    width: 90%;
    height: min-content;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
  .pokemon-left-detail {
    padding: 0em 1em;
    grid-row: 2;
  }
  .pokemon-number img {
    width: 70px;
    height: 32px;
  }
  .pokemon-number span {
    font-size: 1.1em;
  }
  .pokemon-name {
    margin-top: 0.3em;
    font-size: 2em;
  }
  .pokemon-info {
    padding: 1em 4em;
    justify-content: space-between;
  }
  .pokemon-info .pokemon-height p {
    font-size: 1.5em;
  }
  .pokemon-info .pokemon-height span {
    font-size: 1em;
  }
  .pokemon-info .pokemon-weight p {
    font-family: monospace;
    font-size: 1.5em;
  }
  .pokemon-info .pokemon-weight span {
    font-size: 1em;
  }
  .pokemon-pic {
    width: 250px;
    height: 250px;
    margin-left: 30px;
  }
  .pokemon-abilities .ability-paragraph {
    margin-top: 1em;
    margin-left: 0em;
  }
  .pokemon-abilities .second-ability-paragraph {
    margin-left: 0em;
    margin-top: 1em;
  }
}
.pokemon-form {
  margin: 2em 0em;
  display: flex;
  justify-content: center;
}

.pokemon-input .input-search {
  padding: 1em;
  border: none;
  background-color: #ffffff;
  border-radius: 8px;
  outline: none;
  font-family: monospace;
  font-size: 1.25em;
}
.pokemon-input .btn {
  padding: 1em;
  height: 4em;
  border: 1px solid transparent;
  background-color: #bd2d2d;
  border-radius: 8px;
  margin-left: -2em;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}
.pokemon-input .btn:active {
  position: relative;
  top: 2px;
}
.pokemon-input .btn:hover {
  background-color: #e94545;
}

@media (max-width: 420px) {
  .pokemon-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pokemon-input .input-search {
    width: 90svw;
  }
  .pokemon-input .input-search::placeholder {
    text-align: center;
  }
  .pokemon-input .btn {
    width: 190px;
    margin: 1em 0em;
  }
}

/*# sourceMappingURL=style.css.map */
