.normal {
  background-color: #999999;
}

.fighting {
  background-color: #fea403;
}

.flying {
  background-color: #95cbfb;
}

.poison {
  background-color: #9951cd;
}

.ground {
  background-color: #aa783e;
}

.rock {
  background-color: #bbba88;
}

.bug {
  background-color: #a2a41d;
}

.ghost {
  background-color: #6c4270;
}

.steel {
  background-color: #6bb0d4;
}

.fire {
  background-color: #fd6233;
}

.water {
  background-color: #2d92fd;
}

.grass {
  background-color: #40c027;
}

.electric {
  background-color: #fcdb00;
}

.psychic {
  background-color: #ff607d;
}

.ice {
  background-color: #43d8fc;
}

.dragon {
  background-color: #5363d6;
}

.dark {
  background-color: #484848;
}

.fairy {
  background-color: #fdb3fe;
}
