* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right bottom,
    #e1dfa7,
    #c6e2b0,
    #ace2bf,
    #99e0d0,
    #90dce0
  );
  background-attachment: fixed;
  overflow: hidden;
}

img {
  max-width: 100%;
}

@media (max-width: 420px) {
  body {
    background-image: linear-gradient(
      to bottom,
      #e1dfa7,
      #c6e2b0,
      #ace2bf,
      #99e0d0,
      #90dce0
    );
  }
}
