* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(
    circle,
    #676767,
    #4d4d4d,
    #343434,
    #1d1d1d,
    #000000
  );
  background-attachment: fixed;
}

img {
  max-width: 100%;
}
