.pokemon-container {
  width: 100svw;
  height: 100svh;
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.pokemon-box {
  width: 55%;
  height: 55%;
  background-color: #fff;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.pokemon-left-detail {
  padding: 0em 2em;
  align-self: center;
}

.pokemon-right-detail {
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
}

.pokemon-details {
}

.pokemon-number {
  display: flex;
  align-items: center;
  img {
    width: 80px;
    height: 40px;
    margin-left: -1.5em;
  }
  span {
    color: #000;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
  }
}

.pokemon-name {
  margin-top: 0.3em;
  font-size: 2.2em;
  font-family: monospace;
  text-transform: capitalize;
}

.pokemon-info {
  background-color: #b4afaf2c;
  display: flex;
  justify-content: space-around;
  padding: 1em 0em;
  .pokemon-height {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    p {
      font-family: monospace;
      font-size: 1.5em;
    }
    span {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.2em;
    }
  }

  .pokemon-weight {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    p {
      font-family: monospace;
      font-size: 1.5em;
    }
    span {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.2em;
    }
  }
}

.division {
  background-color: #c7c5c5a9;
  width: 1px;
  height: 70px;
  display: block;
}

.pokemon-abilities {
  padding: 1em 2em;
  h1 {
    font-weight: 300;
    font-family: monospace;
  }
  .ability-paragraph {
    margin-left: 1em;
    margin-top: 1em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

.pokemon-pic {
  width: 400px;
  height: 400px;
  margin-left: 30px;
}

.remove {
  display: none;
}

@media (max-width: 420px) {
  body {
    overflow-y: auto;
  }

  .pokemon-container {
    margin-top: -2em;
    margin-bottom: 1em;
  }

  .pokemon-box {
    width: 90%;
    height: min-content;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }

  .pokemon-left-detail {
    padding: 0em 1em;
    grid-row: 2;
  }

  .pokemon-number {
    img {
      width: 70px;
      height: 32px;
    }
    span {
      font-size: 1.1em;
    }
  }

  .pokemon-name {
    margin-top: 0.3em;
    font-size: 2em;
  }

  .pokemon-info {
    padding: 0.5em 0em;
    .pokemon-height {
      p {
        font-size: 1.5em;
      }
      span {
        font-size: 1em;
      }
    }

    .pokemon-weight {
      p {
        font-family: monospace;
        font-size: 1.5em;
      }
      span {
        font-size: 1em;
      }
    }
  }
}
