.pokemon-form {
  margin: 2em 0em;
  display: flex;
  justify-content: center;
}

.pokemon-input {
  .input-search {
    padding: 1em;
    border: none;
    background-color: #ffffff;
    border-radius: 8px;
    outline: none;
    font-family: monospace;
    font-size: 1.25em;
  }
  .btn {
    padding: 1em;
    height: 4em;
    border: 1px solid transparent;
    background-color: #bd2d2d;
    border-radius: 8px;
    margin-left: -2em;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
    &:active {
      position: relative;
      top: 2px;
    }
    &:hover {
      background-color: #e94545;
    }
  }
}
